<div id="users_list">

    <p>
        <h2>People keeping track of their reading</h2>
    </p>
    <% ((@users.size / 18) + 1).times do |row| %>

    <div class="row">
        <% 18.times do |column| %>
        <% user = @users[row * 18 + column] %>
        <% if user %>
        <ul>
            <li class="user">
                <div class="avatar">
                    <a href="<%= user_path(user) %>" rel="twipsy" title="<%= user.name %>">
                    <% if user.avatar_url %>
                    <%= image_tag user.avatar_url %>
                    <% else %>
                    <%= image_tag 'no_avatar.jpg' %>
                    <% end %>
                    </a>
                </div>
            </li>
        </ul>
        <% end %>
        <% end %>
    </div>

    <% end %>

</div>


<%= will_paginate @users, :container => false %>
